* {
  /* Disable animations */
  -webkit-transition-duration: 0s !important;
  transition-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  animation-duration: 0s !important;
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
